*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

table{
    border: 3px solid black;
    /*border-collapse:collapse;*/
    border-collapse:separate;
    border-spacing:10px;
    
    text-align: center;
}
th{
    border: 1px solid red;
}
td{
    border: 1px solid orange;
}
tr{
    background-color: rgb(241, 169, 191);
}